.body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: stretch;
    width: 800px;
    margin: 0 auto;
}
.header {
    background-color: rgb(100, 119, 64);
    border: 1px solid darkgreen;
    justify-content: space-between;
    display: flex;
}   
.main {
    background-color: rgb(219, 233, 157);
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-content:space-around;
}
.footer {
    background-color: rgb(102, 143, 64);
    display:flex;
    flex-direction: row-reverse;
}
